@charset "UTF-8";

/* ページ全体
------------------------------------------------------ */
html,body {
	background-color: #ffffff;
	line-height: 30px;
	font-family: Meiryo,HiraMinProN-W6;
	width: 100%;
	height: 100%;
	margin: 0;
}
.wrapper {
	width: 100%;
	min-height: 100%;

  /* フッタの高さと等しいネガティブマージン */
  /* また最後の子要素の潜在的なマージンとしても機能 */
	margin-bottom: -90px;
}
a:link {
    color: #004040;
}
a:visited {
    color: #008040;
}
a:hover {
    color: #808080;
}

/* メイン
------------------------------------------------------ */
.main {
	margin: auto;
	width: 300px;
	padding: 20px;              /* 余白指定 */
	text-align: center;        /* 中央寄せ */
}
.errorMessages {
	color: red;
}

h1 {
	color: #2f4f4f
}

/* フッター
------------------------------------------------------ */

#footer{
    background-color: #696969;
    color: #fff;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;

    bottom: 0;
    height: 30px;
}

.push{
    bottom: 0;
    height: 30px;
}