/* 初期設定
------------------------------------------------------ */

html,body {
	font-size: 18px;
	background-color: #ffffff;
	line-height: 30px;
	font-family: Meiryo,HiraMinProN-W6;
	height: 100%;
	margin: 0;
}

.wrapper {
	min-height: 100%;

	/* フッタの高さと等しいネガティブマージン */
	/* また最後の子要素の潜在的なマージンとしても機能 */
	margin-bottom: -30px;
}

#main {
	width: 70%;
	margin: 0 auto;
}
.user-list-wrapper {
	width: 100%;
	margin: auto;
	text-align: center;
}

a:link {
    color: #004040;
}
a:visited {
    color: #008040;
}
a:hover {
    color: #808080;
}
#nav, .header-wrap, .main, .footer {
    display: block;
}

/* ページの枠組み
------------------------------------------------------ */

/* ヘッダー
------------------------------------------------------ */
.header-wrap {
	background-color: #dcdcdc;
	height: 119px;
	padding-top:10px;

}
h1 {
	float: left;
    margin: 10px 0;
}

#nav {
	list-style: none;
	overflow: hidden;
	padding-top:10px;
	padding-left: 50px;
}

#nav li {
	display: block;
    margin: 30px 0 0 20px;
    padding-left: 10px;
	float: left;
}

#nav li a {
	text-decoration: none;
	color: #1f3134;
	font-weight: bold;
}

/* フッター
------------------------------------------------------ */
#footer{
	clear: both;
	background-color: #696969;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;

    bottom: 0;
    height: 30px;
}

.push {
	bottom: 0;
	height: 30px;
}

#page_top {
    position: fixed;
    bottom: 30px;
    right: 20px;
}
#page_top a {
    background-color: #999;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 0.5em;
}
#page_top a:hover {
    background-color: #666;
    text-decoration: none;
}

/* ホーム
------------------------------------------------------ */
.errorMessages {
	width: 500px;
	border: solid 3px #ff8000;
	background-color: #ffffff;
	color: red;
}


/* 管理画面
------------------------------------------------------ */

.userlist {
	display: inline-block;
	width: 35%;
	height: 300px;
	margin: 10px;
	padding:10px;

	border: solid 3px #808080;
	background-color: #f0f8ff;
}
.edit-stop-button-wrapper {
	display: flex;
	width: 100%;
}
.edit-stop-button-wrapper form {
	margin: 0 auto;
}
.button {
	padding: 8px 40px;

}