/* 初期設定
------------------------------------------------------ */

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	background-color: #ffffff;
	line-height: 30px;
	font-family: Meiryo,HiraMinProN-W6;

	min-height: 100%;
	display: flex;
	flex-direction: column;
}
a:link {
    color: #004040;
}
a:visited {
    color: #008040;
}
a:hover {
    color: #808080;
}
#nav, .header-wrap, .main, .footer {
    display: block;
}

/* ページの枠組み
------------------------------------------------------ */

#main_home {
	width: 100%;
}

.homeContents {
	width: 1350px;
	margin: 10px 10px 100px 100px;
	padding: 10px;
}

#main {
/*	height: 330px; */
	margin: 10px 10px 100px 100px;
	padding-left: 100px;

	/*display: flex;
	flex-direction: column;
	min-height: 100%;*/

	flex: 1;
}
/* ヘッダー
------------------------------------------------------ */
.header-wrap {
	background-color: #dcdcdc;
	height: 119px;
	padding-top:10px;

}
h1 {
	float: left;
    margin: 10px 0;
}

#nav {
	list-style: none;
	overflow: hidden;
	padding-top:10px;
	padding-left: 50px;
}

#nav li {
	display: block;
    margin: 30px 0 0 20px;
    padding-left: 10px;
	float: left;
}

#nav li a {
	text-decoration: none;
	color: #1f3134;
	font-weight: bold;
}

/* フッター
------------------------------------------------------ */

#footer {
	clear: both;
	background-color: #696969;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
}

#page_top {
    position: fixed;
    bottom: 30px;
    right: 20px;
}
#page_top a {
    background-color: #999;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 0.5em;
}
#page_top a:hover {
    background-color: #666;
    text-decoration: none;
}

/* ホーム
------------------------------------------------------ */

.errorMessages {
	color: red;
}

.serchForm {
	font-size: 18px;
}

.message {
/* 	border-bottom: dashed 1px; */
	border-bottom-style: solid;
	margin: 20px 10px 100px 100px;
}
.text {
	margin: 10px 20px 20px 20px;
	padding: 5px;
	word-wrap: break-word;

}
.comment {
	margin: 10px;
	width: 1000px;

}
.commentTitle {
	color: #2f4f4f;
	font-size: 17px;
}
.commentForm {
	margin: 10px;

	font-size: 13px;
}

.date {
	border-bottom: dashed 1px;
	font-size: 15px;
	position: relative;
	text-align: right;
	magin-right: 20px;
}
.deleteButton {
	position: relative;
	text-align: right;
	margin-bottom: 10px;
}

.signup {
	font-weight: bold;
	font-size: 19px;
}

/* 入力フォーム
------------------------------------------------------ */

.inputForm {
	min-height: 100vh;
	position: relative;
}
.button {
	padding: 5px 30px;

}

/* 管理画面
------------------------------------------------------ */

.userlist {
	display: inline-block;
	width: 300px;
	height: 230px;
	margin:20px;
	padding:10px;

	border: solid 3px #808080;
	background-color: #f0f8ff;
}
.button {
	line-height: 10px;
}